<h3>Group details</h3>
<h4>{{ name }}</h4>
<p><label>Day:  {{ day }}</label></p>
<p><label>Hour:  {{ hour }}</label></p>
<p><label>Place:  {{ place }}</label></p>
<p><label>Description:  {{ description }}</label></p>
<a href="/groups" class="btn btn-info" >Return</a>